# Build results
**/[Bb]in/
**/[Oo]bj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache

# Rider
.idea/

MCBA/wwwroot/lib/bootstrap/dist/css/*.css
MCBA/wwwroot/lib/bootstrap/dist/js/*.js
