@model MCBA.ViewModels.DepositAndWithdrawViewModel
@{
    ViewData["Title"] = "Deposit";
}

<h1 class="display-4">Account Number @Model.Account.AccountNumber (@Model.Account.AccountType)</h1>

<div class="row">
    <div class="col-md-4">
        @* asp-action: forms only omit post requests *@
        <form asp-action="Deposit">

            @* Binds AccountNumber of model to form submission*@
            <input type="hidden" asp-for="AccountNumber" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Validates/Binds Amount *@
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount</label>
                <input id="Amount"
                       name="Amount"
                       class="form-control"
                       asp-for="Amount"
                       data-val="true"
                       data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                @Html.ValidationMessage("Amount", new { @class = "text-danger" })
            </div>

            @* Validates/Binds Comment*@
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @{ /* await Html.RenderPartialAsync("_ValidationScriptsPartial"); */ }
}
