@model Account
@{
    ViewData["Title"] = "Transfer";
}

<h1 class="display-4">@*Account Number @Model.AccountNumber (@Model.AccountType)*@</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Transfer">
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

