@model MCBA.ViewModels.CreateBillPayViewModel

@{
    ViewData["Title"] = "Create New Payment";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <input type="hidden" asp-for="AccountNumber" />

    <div class="form-group">
        <label asp-for="PayeeID" class="control-label"></label>
        <select asp-for="PayeeID" asp-items="@(new SelectList(Model.Payees, "PayeeID", "Name"))" class="form-control"></select>
        <span asp-validation-for="PayeeID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ScheduleTimeUtc" class="control-label"></label>
        <input asp-for="ScheduleTimeUtc" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Period" class="control-label"></label>
        <select asp-for="Period" class="form-control">
            <option value="M">Monthly</option>
            <option value="O">One-off</option>
        </select>
        <span asp-validation-for="Period" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
